views/index.pug
doctype html
html
    head
        include ./layouts/head
    body
        block content
            main.landing-page
                .container.h-100
                    .row.h-100.align-items-start.d-flex.align-items-md-center
                        .col-12.col-md-7.content
                            h1 GOLDEN CONTENT HUB
                            p.
                                Sàn giao dịch nội dung đầu tiên và lớn nhất Việt Nam với hơn hàng ngàn nội dung giải trí, quảng cáo có bản quyền
                                <br/>
                                Golden content hub là nơi những nhà sáng tạo nội dung có thể đưa "đứa con tinh thần" của mình đến gần hơn với các nhà đầu tư, nhà quảng cáo và người dùng.
                            div.box.box--buy
                                span Tôi cần mua bán nội dung
                                i.icon.icon--next
                            div.box.box--ads
                                span Tôi cần đặt hàng dịch vụ quảng cáo
                                i.icon.icon--next



        include ./layouts/footer

index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golden</title>
    <!--  build:css assets/css/combined.css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <!--  endbuild-->
  </head>
  <body>
    <main class="landing-page">
      <div class="container h-100">
        <div class="row h-100 align-items-start d-flex align-items-md-center">
          <div class="col-12 col-md-7 content">
            <h1>GOLDEN CONTENT HUB</h1>
            <p>
              Sàn giao dịch nội dung đầu tiên và lớn nhất Việt Nam với hơn hàng ngàn nội dung giải trí, quảng cáo có bản quyền
              <br/>
              Golden content hub là nơi những nhà sáng tạo nội dung có thể đưa "đứa con tinh thần" của mình đến gần hơn với các nhà đầu tư, nhà quảng cáo và người dùng.
            </p>
            <div class="box box--buy"><span>Tôi cần mua bán nội dung</span><i class="icon icon--next"></i></div>
            <div class="box box--ads"><span>Tôi cần đặt hàng dịch vụ quảng cáo</span><i class="icon icon--next"></i></div>
          </div>
        </div>
      </div>
    </main>
    <!--  build:js assets/scripts/combined.js-->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/swiper-bundle.js"></script>
    <script src="libs/chart.js/chart.min.js"></script>
    <script src="js/main.js"></script>
    <!--  endbuild-->
  </body>
</html>
